.margem_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.div_extensa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.titulo_contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    width: 100%;
}

.titulo_contato .button {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    letter-spacing: 2px;
    padding: 18px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #FFF;
    /* color: #fff; */
    font-family: 'Inter', Sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.titulo_contato .button:hover {
    /* background-color: #f1a035; */
    animation: hoverAnimation 1s ease-in-out infinite;
}

.titulo_contato .button * {
    color: black;
}



.titulo_contato .h2{
    color: #222222;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}
.titulo_contato .p{
    color: #828282;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}


.grid{
    display: grid;
    width: 100%;
    height: 850px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    gap: 10px;
    margin: 10px;
    margin-top: 400px;
}

.div1{
    background-color: aqua;
    grid-column: 1/5;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}
.div1 .img{
    width: 100%;
    object-fit: cover;
}
.div2{
    background-color: rgb(208, 255, 0);
    grid-column: 1/2;
    grid-row: 4/5;
}
.div2 .img{
    width: 100%;
    height: 100%;
}
.div3{
    background-color: rgb(255, 166, 0);
    grid-column: 2/3;
    grid-row: 4/5;
}
.div3 .img{
    height: 100%;
}
.div4{
    background-color: #fff;
    grid-column: 3/5;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}

.loc{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    align-items: center;
}
.loc .p{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #828282;
}
.div4 .h3{
    color: #222222;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}
.div4 .p{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #828282;
}
.div4 .val{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px;
}
.div4 .val .h3{
    color: #F08420;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
.div4 .destaque{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 25px;
}
.div4 .destaque .p{
    color: #828282;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.div4 .destaque .dest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.div4 .destaque .dest .img_area{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #828282;
    margin-bottom: 20px;
}
.div4 .val .button {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    letter-spacing: 2px;
    padding: 18px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-radius: 2px;
    background-color: #E9B169;
    color: #fff;
    font-family: 'Inter', Sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.div4 .val .button:hover {
    background-color: #f1a035;
    animation: hoverAnimation 1s ease-in-out infinite;
}

.div4 .val .button * {
    color: black;
}

@keyframes hoverAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}
.avaliacao{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;

}
.star_rating .star {
    color: #ffc107; /* Cor das estrelas (amarelo ouro) */
    font-size: 26px; /* Tamanho das estrelas */
}
.star_rating{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.rating_value, .rating_count{
    color: #27AE60;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}